@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/*:root{
    --primary-color:#3f51b5;
    --secondary-color: #111518;
    --light-color: #ddd;
    --white_color: #fff;
    --gray: #b3b6b7;
    --light_dark: #181c1f;

}*/

html {
    font-size: 80%;
    scroll-behavior: smooth;                /* i added this for click and scroll response*/
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

/*--------------utility classes start -----------*/
body {
    background: #efe8ad;
}

ul {
    list-style: none;
  }

a{
    text-decoration: none;
}

.primary_btn {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 50px;
    background: 1px #3f51b5;
    font-family: inherit;
    color: #fff;
    cursor: pointer;
    outline: 0;
    border: 2.5px solid gray;
    transition: all .3s ease-in-out;
    margin: 1rem 0;
}


.primary_btn:hover {
    background: #fff;
    color: gray;
   
}

/*img {
    display: block;
    object-fit: cover;
    width: 100%;
}*/



.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 70px;  
    
}


/*--------------utility classes stop -----------*/



/*--------------header start -----------*/
/*.homepage {
    background: url('/images/bg_img.jpg') no-repeat center center/cover;
    min-height: 100vh;
}

.homepage img{                
    width: 50%;
}*/
/*.bookingspage {
    background: url('/images/36.jpg') no-repeat center;
    min-height: 100vh;
}*/

/*.bookingspage img{                
    width: 50%;
}*/
/*.learnmorepage {
    background: url('/images/iPhone-14-Pro-vs-Galaxy-S23-HQ.png') no-repeat center center/cover;
    min-height: 100vh;
}

.learnmorepage img{                
    width: 50%;
}*/


/*=========================ORIGINAL NAV================================*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.navbar nav{
    display: flex;
}
.navbar nav li {
    list-style: none;
    margin-right: 1.5rem;
}
.navbar nav li a {
    color: rgb(148, 148, 247);
    font-size: 1.3rem;
    padding: 1rem .5rem;
    transition: all .4rem ease-in-out;
    text-decoration: none;
}

.logo{
    margin: 1rem;
}

.logo img{
    width: 80%;
}


.navbar nav li a:hover {
    color: #fff;
}

.navbar .btn {
    color: white;                        /*changed from var gray*/
    font-size: 2rem;
    cursor: pointer;
    display: none;
}







/*--------------HEADER/showcase start-----------*/



/*--------------HEADER/showcase start-----------*/
/*#showcase .content {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    height: 80vh;
    align-items: center;
    grid-gap: 2rem;
}

#showcase .showcase-content {
    color: #fff;
    width: 100%;
}
#showcase p {
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.5;
}
#showcase h2 {
    font-size: 6rem;
    font-weight: 800;
}*/
/*--------------HEADER/showcase close-----------*/

/*--------------HEADER/services start-----------*/
/*#services {
    background: rgba(17, 145,243, 0.4);
    border-radius: 10px;
    margin-top: -5%;
}


#services .services_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

#services .icons {
    display: flex;
    align-items: center;
}

.icon i{
    font-size: 3rem;
    padding: 2rem;
    color: #fff;
}

#services .content {
    color: #fff;
    font-size: 0.9rem;
}

#services .content p{
    color: #b3b6b7;                          /*will change to personal black later
}*/

/*--------------HEADER/services close-----------*/


/*---================== boxes with content start ========================--*/
#box-normal_content{
    padding: 5rem 0;
}

.head-policy {
    font-size: 1.5rem;
    color: rgb(148, 148, 247);
    margin-bottom: 1rem;
}

.normal_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.normal_content_boxes {
    padding: 2rem;                              /*i changed the padding*/
    background: #fff;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.normal_content_boxes h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;                        /*i changed the margin*/
}
.normal_content_boxes p {
    font-size: 1.2rem;
    color: rgb(199, 193, 193);
}

.normal_content_boxes ul li{
    font-size: 1rem;
    color: #000;
    list-style-position: inside;
    padding-left: 2rem;
}

.normal_content_boxes:hover ul li{
    color: #fff;
}

.normal_content_boxes:hover{
    background: #3f51b5;
    color: #fff;
}

/*---==================== boxes with content close ==============--*/


/*==================ORDER NOW=======================================*/

.order .row {
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;
    margin: 2rem 0;
}

.head-row {
    font-size: 1.5rem;
    color: rgb(148, 148, 247);
    margin-top: 14rem;
}



.order .row .imagee {
    flex: 1 1 30rem;
}

.order .row .imagee img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    transition: all .5s ease-in-out;
}

.order .row .imagee img:hover{
    transform: scale(0.9);
 }

.order .row  form {
    flex: 1 1 30rem;
    padding: 1rem;
}

.order .row  form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order .row  form .inputBox input, .order .row  form textarea {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    width: 49%;
}

.order .row  form textarea {
    width: 100%;
    resize: none;
    height: 15rem;
}

.order .row  form .radioBox{
    padding: .5rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: gray;
}

.order .row  form .radioBox Input{
    border-radius: .5rem;
    color: gray;
}
/*--- ======================Order Now close ===============--*/







  /*--- Footer starts --*/
.footer {
    padding: 2rem 0;
    margin-top: 5rem;
    text-align: center;
    display: block;
    /*background: #111418;*/

}


.footer .logo_ img{
    width: 8%;
    align-items: center;
    margin: 0 43%;
    padding: 1.5rem 0;
    transition: all .5s ease-in-out;
}

.footer .logo_:hover{
    transform: scale(1.2);
}

.footer .share {
    display: flex;
    gap: 1.5rem;
    justify-content:  center;
    flex-wrap: wrap;
}

.footer .share i{
    font-size: 2rem;
    color: #81d4ee;
    transition: all .5s ease-in-out;
}

.footer .share i:hover{
    color: #c03740;
    transform: scale(1.2);
}


.footer P {
   padding: 2.5rem 1rem;
   color: #fff;
   font-weight: normal;
   font-size: 1.2rem;
}


.footer P span {
    color: #138d75;
}



/*.footer .logo_{
    width: 14%;
    align-items: center;
    margin: 0 43%;
    padding: 2.5rem 0;
    transition: all .5s ease-in-out;
}*/


/*========== SCROLL UP ==========*/
/*.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: hsl(190, 64%, 22%);
    padding: .5rem;
    display: flex;
    opacity: .9;
    z-index: 10;
    transition: .4s;
  }
  
  .scrollup:hover {
    background-color: hsl(190, 64%, 15%);
    opacity: 1;
  }
  
  .scrollup__icon {
    color: #fff;
    font-size: 1.2rem;
  }
  
  .scrollup i {
    color: #fff;
  }
  
  /* Show scroll 
  .show-scroll {
    bottom: 5rem;
  }
  
  /*=============== SCROLL BAR ===============*/
  /*::-webkit-scrollbar {
    width: .60rem;
    background-color: hsl(190, 12%, 90%);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsl(190, 12%, 75%);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(190, 8%, 60%);
  }*/

  

/*====Whatsapp ===*/
.whatsapp-container{
    position: fixed;
    right: 7px;
    bottom: -80px;
    opacity: 0;
    padding: 24px;
    animation: fade-up 1000ms forwards;
    animation-delay: 1000ms;
}

@keyframes fade-up{
    100% {
        bottom: 50px;
        opacity: 1;
    }
}

.whatsapp-container .whatsapp-btn{
    font-size: 80px;
    color: #52c4f1;
    display: inline-block;
    transition: all 400ms;
}
.whatsapp-container .whatsapp-btn:hover{
    transform: scale(1.2);
}







