/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {

    .place__container {
      grid-template-columns: max-content;
      justify-content: center;
    }
    .experience__content {
      padding: 0;
    }
    .experience__overlay:nth-child(1) {
      width: 190px;
    }
    .experience__overlay:nth-child(2) {
      width: 80px;
    }
    .home__info {
      width: 190px;
      padding: 1rem;
    }
    
    .experience__img,
    .video__container {
      padding: 0;
    }
  
  .footer__title img{
      width: 25%;
    }

    .normal_content {
      grid-template-columns: repeat(1, 1fr);
  }
}




@media screen and (max-width: 568px) {
  .normal_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

.normal_content_boxes h2{
 font-size: 1.15rem;
}

.normal_content_boxes p{
  font-size: 0.9rem;
}

.accordion .accordion-text .title{
  font-size: 1.5rem;
}

.normal_content_boxes{
  margin: 0 -2rem;
  padding: 0 -1rem;
}

.footer__title img{
  width: 30%;
}
}
  



  /* For medium devices */
  @media screen and (min-width: 568px) {
    .video__container {
      display: grid;
      grid-template-columns: .6fr;
      justify-content: center;
    }
    .place__container {
      grid-template-columns: repeat(3, max-content);
    }
    .subscribe__form {
      width: 470px;
      margin: 0 auto;
    }
    .order .row  form .inputBox input {
      width: 100%;
  }

  .head-policy{
      margin-top: 2rem;
  }

  .normal_content {
    grid-template-columns: repeat(1, 1fr);
}
  }


  
  @media screen and (min-width: 768px) {
    body {
      margin: 0;
    }
    .nav {
      height: calc(var(--header-height) + 1.5rem);
    }
    .nav__link {
      color: var(--white-color);
      text-transform: initial;
    }
    .nav__link:hover {
      color: var(--white-color);
    }
    .nav__dark {
      position: initial;
    }
    .nav__menu {
      display: flex;
      column-gap: 1rem;
    }
    .nav__list {
      flex-direction: row;
      column-gap: 4rem;
    }
    .nav__toggle, .nav__close {
      display: none;
    }
    .change-theme-name {
      display: none;
    }
    .change-theme {
      color: var(--white-color);
    }
    .active-link::before {
      background-color: var(--white-color);
    }
    .scroll-header .nav__link {
      color: var(--text-color);
    }
    .scroll-header .active-link {
      color: var(--title-color);
    }
    .scroll-header .active-link::before {
      background-color: var(--title-color);
    }
    .scroll-header .change-theme {
      color: var(--text-color);
    }
    .section {
      padding: 7rem 0 2rem;
    }
    .home__container {
      height: 100vh;
      grid-template-rows: 1.8fr .5fr;
    }
    .home__data {
      align-self: flex-end;
    }
    .home__social {
      flex-direction: row;
      align-self: flex-end;
      margin-bottom: 3rem;
      column-gap: 2.5rem;
    }
    .home__info {
      bottom: 3rem;
    }
    .about__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
    .about__data, .about__title {
      text-align: initial;
    }
    .about__title {
      margin-bottom: var(--mb-1-5);
    }
    .about__description {
      margin-bottom: var(--mb-2);
    }
    .discover__container {
      width: 610px;
      margin-left: auto;
      margin-right: auto;
    }
    .discover__container,
    .place__container {
      padding-top: 2rem;
    }
    .experience__overlay:nth-child(1) {
      width: 363px;
      margin-right: 4rem;
    }
    .experience__overlay:nth-child(2) {
      width: 160px;
    }
    .subscribe__bg {
      background: none;
      padding: 0;
    }
    .subscribe__container {
      background-color: var(--first-color-second);
      padding: 3.5rem 0;
    }
    .subscribe__input {
      padding: 0 .5rem;
    }
    .footer__rights {
      flex-direction: row;
      justify-content: space-between;
    }

    .normal_content {
      grid-template-columns: repeat(2, 1fr);
  }
    .order .row  form .inputBox input {
      width: 100%;
  }

  .head-policy{
      margin-top: 2rem;
  }
  }
  
  /* For large devices */
  @media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .home__container {
      grid-template-rows: 2fr .5fr;
    }
    .home__info {
      width: 328px;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;
    }
    .home__info-title {
      font-size: var(--normal-font-size);
    }
    .home__info-img {
      width: 240px;
    }
    .about__img-one {
      width: 230px;
    }
    .about__img-two {
      width: 290px;
    }
    .discover__card {
      width: 237px;
    }
    .discover__container {
      width: 700px;
    }
    .discover__data {
      left: 1.5rem;
      bottom: 2rem;
    }
    .discover__title {
      font-size: var(--h2-font-size);
    }
    .experience__content {
      margin: var(--mb-1) 0;
      column-gap: 3.5rem;
    }
    .experience__overlay:nth-child(1) {
      width: 463px;
      margin-right: 7rem;
    }
    .experience__overlay:nth-child(2) {
      width: 220px;
      top: 3rem;
    }
    .video__container {
      grid-template-columns: .7fr;
    }
    .video__description {
      padding: 0 8rem;
    }
    .place__container {
      gap: 3rem 2rem;
    }
    .place__card, .place__img {
      height: 263px;
    }
    .footer__content {
      justify-items: center;
    }

    .normal_content {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
  }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* For tall screens on mobiles y desktop*/
  @media screen and (min-height: 721px) {
    body {
      margin: 0;
    }
    .home__container, .home__img {
      height: 640px;
    }
  }




  /*--=======  PRICING  =============--*/
   @media (max-width: 804px){
    .pricing-table .grid-feature {
      gap: 20px;
    }

    .pricing-table .grid-feature .box.professional{
      transform: scale(1);
    }
   }








  /*--=======FAQ=============--*/
  
  @media (max-width: 994px) {
    
    .accordion{
      max-width: 100%;
      padding: 45px 60px 45px 60px;
    }
    .accordion .image-box{
      height: 360px;
      width: 220px;
    }
    .accordion .accordion-text{
      width: 63%;
    }
  }



  @media (max-width: 820px) {
    .accordion{
      flex-direction: column;
    }
    .accordion .image-box{
      height: 360px;
      width: 300px;
      background: #7d2ae8;
      width: 100%;
      border-radius: 25px;
      padding: 30px;
    }
    .accordion .accordion-text{
      width: 100%;
      margin-top: 30px;
    }
  }



  @media (max-width: 538px) {
    .accordion{
      padding: 25px;
    }
    .accordion-text li p{
      width: 98%;
    }
  }
  

  /*=========== SLIDING TABLE ==========*/

  @media screen and (max-width: 1024px){
    .item{
        width: calc(33.3vw - 20px);
    }
    .direction{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .item{
        width: calc(50vw - 20px);
    }
    .direction{
        display: none;
    }
}

@media screen and (max-width: 568px) {
  /*.slider-container {
      display: flex;
      overflow: auto;
      scroll-snap-type: x mandatory;
  }*/

  .item {
      width: 100%;
  }
  .item table td {
      text-align: left;
  }

  .section-container {
      text-align: center;
  }


.direction {
  text-align: center;
}

.direction button {
  font-family: cursive;
  font-weight: bold;
  background-color: #ffffff44;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
  margin: 0 10px;
}

.direction button:hover {
  background-color: #ffffff;
}
.home__data-title {
  font-size: 2rem;
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2-5);
}

.home__data-title  span{
font-family: "Arizonia";
color: rgb(245, 51, 164);
font-size:3rem;
}

.nav__logo{
  margin-top: 0.5rem;
}
}
/* Rest of your CSS code remains unchanged */